# output files
*.cycle
*.out
*.out.*
*.csv

# binaries
*.o
*.a
drivers/drive-lorenz-Delta-lib/Eigen
ex-01
ex-01-adjoint
ex-01-expanded
ex-01-expanded-bdf2
ex-01-optimization
ex-01-pp
ex-01-refinement
ex-02
ex-03
ex-03-serial
ex-04
ex-04-serial
ex-06
drive-lorenz-Delta
drive-lorenz


